@charset "utf-8";
/* CSS Document */

/**************** FONTS (to remove later) ****************/

@font-face {
    font-family: 'Rissa';
    src: url('fonts/rissatypeface-webfont.eot'); /*A*/
    src: url('fonts/rissatypeface-webfont.eot?#iefix') format('embedded-opentype'), /*B*/
    url('fonts/rissatypeface-webfont.woff') format('woff'), /*C*/
    url('fonts/rissatypeface-webfont.otf') format('opentype'), /*D*/
    url('fonts/rissatypeface-webfont.svg') format('svg'); /*E*/
    font-weight: normal;
    font-style: normal;
}


/**************** UNIVERSAL SETUP (to remove later) ****************/


body {
	margin: 0px 0px;
	padding: 0 0;
	height:100%;
	overflow-x:hidden;	
}
h1{
	font-family:'Rissa';
	color:#414042;
	font-size:45pt;
}
a {
	text-decoration:none;
}
.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}
p {
	font-family: 'Lato', sans-serif;
	color:#58595B;
	font-size:16px;
	font-weight:300;
	padding:10px 0px;
}
b, strong {
     color:#EC876A;
}
#divider {
	width:100%;
	border-bottom:1px solid #a1a1a1;
	padding: 0px 0px;
	margin-bottom:35px;
}
#downloaddeckbutton{
	color:#EC876A;
}

     
/**************** Headers ****************/

#projectHeader{
	background-image:url(../images/background.jpg);
  	background-position: center center fixed;
  	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	margin-top:0px;
	margin-bottom:0px;
	padding: 0 0;
	text-align:center;
}
#projectHeader #logo{
	height:65px;
	width:65px;
	padding-left:auto;
	padding-right:auto;
	position:absolute;
}

#consharetoHeader{
	background-image:url(../images/projects/conshareto/header_img.png);
  	background-position: center center;
  	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	margin:0 0;
	padding: 0 0;
	text-align:center;
}
#consharetoHeader #logo{
	height:65px;
	width:65px;
	padding-left:auto;
	padding-right:auto;
	position:absolute;
}

#crispmarketHeader{
	background-image:url(../images/projects/crispmarket/header_img.png);
  	background-position: center center;
  	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	margin:0 0;
	padding: 0 0;
	text-align:center;
}
#crispmarketHeader #logo{
	height:65px;
	width:65px;
	padding-left:auto;
	padding-right:auto;
	position:absolute;
}

#crispHeader{
	background-image:url(../images/projects/crispads/quotient_header.png);
  	background-position: center center;
  	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	margin:0 0;
	padding: 0 0;
	text-align:center;
}
#crispHeader #logo{
	height:65px;
	width:65px;
	padding-left:auto;
	padding-right:auto;
	position:absolute;
}

#bitnessHeader{
	background-image:url(../images/projects/bitness/header_img.png);
  	background-position: center center;
  	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	margin-top:0px;
	margin-bottom:0px;
	padding: 0 0;
	text-align:center;
}
#bitnessHeader #logo{
	height:65px;
	width:65px;
	padding-left:auto;
	padding-right:auto;
	position:absolute;
}

#barkeepHeader{
	background-image:url(../images/projects/barkeep/headerimage.jpg);
  	background-position: center center;
  	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	margin-top:0px;
	margin-bottom:0px;
	padding: 0 0;
	text-align:center;
}
#barkeepHeader #logo{
	height:65px;
	width:65px;
	padding-left:auto;
	padding-right:auto;
	position:absolute;
}

#dailiesHeader{
	background-image:url(../images/projects/dailies/headerimage.jpg);
  	background-position: center center;
  	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	margin-top:0px;
	margin-bottom:0px;
	padding: 0 0;
	text-align:center;
}
#dailiesHeader #logo{
	height:65px;
	width:65px;
	padding-left:auto;
	padding-right:auto;
	position:absolute;
}

#donateHeader{
	background-image:url(../images/projects/ciasgives/projimgbanner500.jpg);
  	background-position: center center;
  	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	margin-top:0px;
	margin-bottom:0px;
	padding: 0 0;
	text-align:center;
}
#donateHeader #logo{
	height:65px;
	width:65px;
	padding-left:auto;
	padding-right:auto;
	position:absolute;
}

#illustrationHeader{
	background-image:url(../images/projects/illustrations/headerimagesmall.jpg);
  	background-position: center center;
  	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	margin-top:0px;
	margin-bottom:0px;
	padding: 0 0;
	text-align:center;
}
#illustrationHeader #logo{
	height:65px;
	width:65px;
	padding-left:auto;
	padding-right:auto;
	position:absolute;
}

/*** For the hover menu ***/

#indexNavigation ol{
    background-color:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    float:none;
    width:200px;
    box-shadow: 0px 2px 1px rgba(45,45,45,.3);
    text-align:left;
  	padding: 10px 0 10px 10px;
}
#indexNavigation ol li{
    text-align:left;
    display:block;
}
#indexNavigation ol a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
    float:none;
}
#indexNavigation li:hover ol{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
    float:none;
}
#indexNavigation li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	color:#000;
    float:none;
}
#indexNavigation li:hover ol a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
    float:none;
    margin: 20px 0;
    color:#707070;
}
#indexNavigation li:hover ol li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    float:none;
    color:#000;
    border-bottom:2px solid #EC876A;
}

/***Ensure the top is locked in ***/
#projectHeader #whiteTop{
	position:fixed;
	top:0;
}
#consharetoHeader #whiteTop{
	position:fixed;
	top:0;
}
#bitnessHeader #whiteTop{
	position:fixed;
	top:0;
}
#barkeepHeader #whiteTop{
	position:fixed;
	top:0;
}
#dailiesHeader #whiteTop{
	position:fixed;
	top:0;
}
#donateHeader #whiteTop{
	position:fixed;
	top:0;
}
#illustrationHeader #whiteTop{
	position:fixed;
	top:0;
}

/*** The Stats n stuff ***/
 
#stats{
	width:100%;
}
#staticon{
	float:left;
	max-width:20px;
	width:2vw;
	padding: 5px 1vw 0 0;
}
#stats p{
	float:left;
	color:#a1a1a1;
	padding:0 2% 0 0;
	margin:0 0;
}

/**************** STATEMENT ****************/

#projectstatementOuter{
	width:100vw;
	border-bottom:1px solid #bdbdbd;
}
#projectstatementInner{
	width:60%;
	padding:15px 0 40px 0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	text-align:center;
	overflow:hidden;
}
#projectstatementOuter p {
	font-size:15pt;
}
#projectlogo {
	max-width:550px;
	width:70%;
	min-width:300px;
	padding: 10px 0px;
}

/**************** FEATURES ****************/

#featuresOuter{
	width:100vw;
}
#featuresInner{
	width:70%;
	padding:20px 0 50px 0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	text-align:center;
	overflow:hidden;
}

/** Things inside **/
#featuresimgleft{
	width:50%;
	min-width:300px;
	float:left;
}
#featuresright{
	width:40%;
	margin-left:5%;
	float:left;
}
#feature{
	height:auto;
	float:left;
}

/**************** SKETCHES / FLOW ****************/

#sketchnflowOuter{
	width:100vw;
}
#sketchnflowInner{
	width:70%;
	padding:20px 0 50px 0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	text-align:center;
	overflow:hidden;
}
 /** Things inside **/
#sketch{
	width:100%;
	max-width:900px;
}

/**************** WIREFRAMES ****************/

#finalsOuter{
	width:100vw;
	border-bottom:1px solid #bdbdbd;
}
#finalsInner{
	width:70%;
	padding:20px 0 50px 0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	text-align:center;
	overflow:hidden;
}
#finals{
	max-width:100%;
}

 /** Things inside **/
 
/**************** VISUAL DESIGN ****************/

#visualdesignOuter{
	width:100vw;
	border-bottom:1px solid #bdbdbd;
}
#visualdesignInner{
	width:800px;
	padding:20px 0 50px 0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	text-align:center;
	overflow:hidden;
}
 /** Things inside **/
#dailies{
	height:auto;
	max-width:800px;
	padding: 10px 0;
}
#donatevisual{
	height:auto;
	max-width:800px;
	padding:10px 0;
}
#illustration{
	height:auto;
	max-width:800px;
	padding:10px 0;
}

/**************** INTERACTIVE BITS ****************/

#interactiveCrispOuter{
	width:100vw;
}
#interactiveCrispInner{
	width:70%;
	padding:20px 0 50px 0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	text-align:center;
	overflow:hidden;
}
 /** Things inside **/
#logoChoose{
	max-width:100%;
	overflow:hidden;
	height:12%;
}
.crispclientlogo{
	display:block;
	float:left;
	width:10%;
	min-width:80px;
	height:auto;
	margin: 0 2%;
	filter: url(filters.svg#grayscale);
 	/* Firefox 3.5+ */
  	filter: gray;
  	/* IE6-9 */
  	-webkit-filter: grayscale(1);
  	/* Google Chrome & Safari 6+ */
  	cursor:pointer;
  	padding-bottom:5px;
}
.crispclientlogo:hover {
  filter: none;
  -webkit-filter: none;
  cursor:pointer;
}
.phonead{
	height:80vh;
	float:center;
	margin-top:5%;
	display:none;
}
.addescrip{
	width:70%;
	height:auto;
	margin:0 auto;
}
 
/**************** CONCLUSION ****************/

#projectconclusionOuter{
	width:100vw;
	border-bottom:1px solid #bdbdbd;
}
#projectconclusionInner{
	width:70%;
	padding:20px 0 50px 0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	text-align:center;
	overflow:hidden;
}
 /** Things inside **/
#deckdownloadbutton{
	min-width:200px;
	width:40%;
	height:auto;
	background-color:#EC876A;
	float:left;
	cursor: pointer;
	border-radius:5px;
}
#projectconclusionInner p{
	color:#fff;
	font-size:14pt;
	font-weight:400;
	padding:0 0;
	cursor: pointer;
	text-align:center;
}
#backtotopbutton{
	min-width:200px;
	width:40%;
	background-color:#EC876A;
	float:right;
	cursor: pointer;
	border-radius:5px;
}

/**************** FEATURES ****************/

#vidOuter{
	width:100vw;
	border-bottom:1px solid #bdbdbd;
}
#vidInner{
	width:800px;
	padding:20px 0 50px 0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	text-align:center;
	overflow:hidden;
}
#bitnessaboutvid{
	height:450px;
	width:800px;
	display:block;
	margin:0 auto;
}
#barkeepvid{
	height:450px;
	width:800px;
	display:block;
	margin:0 auto;
}
